In [4]:
# Import the good stuff!
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
# Read .csv
data = pd.read_csv("C:\\Users\\Zehir\\Documents\\GitHub\\OSRS-Data\\data\\Osrs-skill-data.csv")

In [7]:
# Testing csv
data.head()

,Skill:,Level 99 Count,200M XP Count,Ironman,Hardcore Iron(Total),Hardcore Iron(Alive),Ultimate Ironman
0,Attack,"354,368",431.0,NaN,NaN,NaN,NaN
1,HealthPoints,"522,588",825.0,NaN,NaN,NaN,NaN
2,Mining,"108,929",163.0,NaN,NaN,NaN,NaN
3,Strength,"542,066",1005.0,NaN,NaN,NaN,NaN
4,Agility,"78,538",154.0,NaN,NaN,NaN,NaN